.container__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;
}
  
.txt {
    color: var(--color-blue);
    font-size: 1.2rem;
}
