.home {
    display: flex;
    flex-direction: column;
    gap: 15%;
    border-radius: 2rem;
    margin-top: 4rem;
}

.home__container {
    display: grid;
    grid-template-columns: 35% 60%;
    /* gap: 5%; */
}

.home__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.home__right {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.container .home__right-bottom {
    margin-top: 1.8rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home__right-bottom .container__interests {
    flex: 1.2;
}
.home__right-bottom .container__experience {
    flex: 2;
}

/* ============================== DETAILS ==============================*/
.about-image img {
    width: 90%;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.title-2 {
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    font-weight: 600;
}

.curr-title {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    color: rgb(111, 110, 110);
    line-height: 1.2;
}

.curr-location {
    font-size: 1.8rem;
    color: rgb(24, 116, 228);
}

.curr-location:hover {
    text-decoration: underline ;
}

.about-txt {
    font-size: 1.55rem;
}


/* INTERESTS & EDUCATION */
.container__interests .bullet-points li {
    list-style-type: disc;
    margin-left: 3rem;
    font-size: 1.5rem;
}

.education-item {
    margin-left: 1.2rem;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 0.8rem;
}

.education-title {
    font-size: 1.5rem;
    line-height: 1.4;
    background-color: red;
}

.education-location {
    font-size: 1.2rem;
    color: rgb(111, 110, 110);
    margin-bottom: 1rem;
}

.education-icon {
    width: 4rem;
}