.home {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
}

.home__container {
    display: flex;
    flex-direction: row;
}

.research-topics {
    margin-top: 6rem;
    padding-bottom: 4rem;
    background-color: var(--color-lightgrey);
}

.home-left {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 1%; 
}

.home-left-details {
    margin-top: 2rem;
}

.home-right {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 10%;
}

/* .home-right-bottom {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
} */

/* .interests {
    flex: 1;
}  */
.education {
    /* flex: 2;
    padding-left: 1.3rem; */
    margin-top: 2rem;
} 

/* ============================== DETAILS ==============================*/
.profile-img {
    width: 27rem;
    border-radius: 50%;
}

.title {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    white-space: nowrap;
}

.title-2 {
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    font-weight: 600;
}

.curr-title {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    color: var(--color-darkgrey);
    line-height: 1.2;
}

.curr-location {
    font-size: 1.8rem;
    color: rgb(24, 116, 228);
}

.curr-location:hover {
    text-decoration: underline ;
    text-decoration-thickness: 0.2rem;
}

.about-txt {
    font-size: 1.55rem;
}

.profile-links {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.icon {
    color: var(--color-blue);
}

.button-icon {
    color: var(--color-blue);
    background-color: var(--color-white);
    cursor: pointer;
}

.copied-message {
    line-height: 1;
}

/* .interests .bullet-points li {
    list-style-type: disc;
    margin-left: 3rem;
    font-size: 1.5rem;
} */

.education-item {
    display: flex;
    flex-direction: row;
}

.education-title {
    font-size: 1.5rem;
    line-height: 1.4;
}

.education-location {
    font-size: 1.2rem;
    color: var(--color-darkgrey);
    margin-bottom: 1rem;
}

.education-icon {
    width: 4rem;
    margin-right: 2rem;
}

/* RESEARCH TOPICS */
.research-item {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 0.8rem;
    font-size: 1.55rem;
}

.topics-of-interest {
    font-size: 1.55rem;
}

/** ================== SMALLER SCREENS ===========================**/

@media screen and (max-width: 1600px) {
    .home__container {
        flex-direction: column;
        gap: 4rem;
    }
}

/* @media screen and (max-width: 600px) {
    .home-right-bottom {
        margin-top: 0;
        flex-direction: column;
        gap: 3rem;
    }
} */

@media screen and (max-width: 1000px) {
    .education-details {
        /* background-color: red; */
    }
}