.home {
    display: flex;
    flex-direction: column;
    gap: 15%;
    border-radius: 2rem;
    margin-top: 8rem;
}

.home__container {
    /* display: grid;
    grid-template-columns: 40% 65%;
    grid-column-gap: 0; */
    display: flex;
    flex-direction: row;
}

.container__research-topics {
    background-color: var(--color-lightgrey);
}

.home__left {
    flex: 1.2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 10%; 
}

.home__right {
    flex: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.container .home__right-bottom {
    margin: 3rem 1rem 0 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.home__right-bottom .container__interests {
    flex: 1;
}
.home__right-bottom .container__experience {
    flex: 2;
}

/* ============================== DETAILS ==============================*/
.about-image img {
    width: 70%;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.title-2 {
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    font-weight: 600;
}

.curr-title {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    color: var(--color-darkgrey);
    line-height: 1.2;
}

.curr-location {
    font-size: 1.8rem;
    color: rgb(24, 116, 228);
}

.curr-location:hover {
    text-decoration: underline ;
}

.about-txt {
    font-size: 1.55rem;
}


/* INTERESTS & EDUCATION */
.container__interests .bullet-points li {
    list-style-type: disc;
    margin-left: 3rem;
    font-size: 1.5rem;
}

.education-item {
    margin-left: 1.2rem;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 0.8rem;
}

.education-title {
    font-size: 1.5rem;
    line-height: 1.4;
}

.education-location {
    font-size: 1.2rem;
    color: var(--color-darkgrey);
    margin-bottom: 1rem;
}

.education-icon {
    width: 4rem;
}

/* RESEARCH TOPICS */
.research-item {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 0.8rem;
    font-size: 1.55rem;
}

.topics-of-interest {
    font-size: 1.55rem;
}

/** ================== SMALLER SCREENS ===========================**/

@media screen and (max-width: 1400px) {
    /* .container {
        padding-bottom: 4rem;
    } */

    .home__container {
        flex-direction: column;
        gap: 4rem;
    }

    .container__research-topics {
        margin-top: 4rem;
    }

    .about-image img {
        width: 65%;
    }

    .container .home__right-bottom {
        margin-top: 0;
        flex-direction: column;
        gap: 3rem;
    }

    /* .home__right-bottom .container__interests {
        flex: 1;
    }
    .home__right-bottom .container__experience {
        flex: 1;
    } */
    
     
}

@media screen and (max-width: 600px) {
    .home__container {
        flex-direction: column;
        gap: 4rem;
    }

    .container__research-topics {
        margin-top: 5rem;
    }

    .about-image img {
        width: 65%;
    }

    .container  .home__right-bottom {
        margin-top: 0;
        flex-direction: column;
        gap: 3rem;
    }
}