.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0 2px 5px rgba(123, 123, 123, 0.5);
  background-color: var(--color-white);
  z-index: 1;
}

.container__navbar {
  width: 90%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 10px 60px;
  font-size: 1.2rem;
  margin: 0 auto;
}


/** ================== DETAILS ===========================**/


.navbar-name {
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 2px solid var(--color-white);
  padding-bottom: 0.1rem;
  color: var(--color-blue);
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.menuItem {
  cursor: pointer;
  color: var(--color-blue);
  border-bottom: 2px solid var(--color-white);
  padding-bottom: 0.1rem;
}

.menuItem:hover {
  border-bottom: 2px solid var(--color-blue);
  transition: 0.3s ease;
  padding-bottom: 0.1rem;
}

.cv-link {
  color: var(--color-blue);
}


/** ================== menu toggle ===========================**/

.toggleButton {
  width: 100%;
  height: 100px;
  display: none;
  align-items: center;
  justify-content: flex-end;
}



.toggleButton button {
  margin-right: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* #open .menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} */

/* #open a {
  width: 100%;
  text-align: center;
} */

/** ================== SMALLER SCREENS ===========================**/
  
@media only screen and (max-width: 1025px) {
  .container__navbar {
    padding: 0px 60px;
  }
  
  .toggleButton {
    display: flex;
  }

  .toggleButton .toggle-icon {
    font-size: 2.7rem;
  }

  #close a {
    display: none;
  }

  #open .menu{
    width: 100%;
    margin: 4rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
  }

  #open .container__navbar {
    width: 100%;
    text-align: center;
  }

  #open .toggleButton{
   display: none;
  }

  #open .navbar-name{
    display: none;
  }

  .navbar-name{
    width: 100%;
  }
}

  
@media screen and (max-width: 600px) {
  .container__navbar {
    padding: 0px 10px;
  }

  .navbar-name {
    font-size: 1rem;
  }

  .toggleButton .toggle-icon {
    font-size: 2rem;
  }
  
}