.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0 2px 5px rgba(79, 79, 79, 0.5);
  background-color: var(--color-white);
}

.container__navbar {
  width: 90%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 20px 60px;
  font-size: 1.8rem;
  margin: 0 auto;
}


/** ================== DETAILS ===========================**/


.navbar-name {
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 3px solid var(--color-white);
  padding-bottom: 0.1rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.menuItem {
  cursor: pointer;
  color: var(--color-blue);
  border-bottom: 3px solid var(--color-white);
  padding-bottom: 0.1rem;
}

.menuItem:hover {
  border-bottom: 3px solid var(--color-blue);
  transition: 0.3s ease;
  padding-bottom: 0.1rem;
}


/** ================== menu icon ===========================**/

.toggleButton {
  width: 100%;
  height: 100px;
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.toggleButton svg {
  font-size: 50px;
}

.toggleButton button {
  margin-right: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* #open .menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} */

/* #open a {
  width: 100%;
  text-align: center;
} */

/** ================== SMALLER SCREENS ===========================**/
  
@media only screen and (max-width: 1100px) {
  .toggleButton {
    display: flex;
  }


  #close a {
    display: none;
  }

  #open .menu{
    width: 100%;
    margin: 4rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
  }

  #open .container__navbar {
    width: 100%;
    text-align: center;
  }

  #open .toggleButton{
   display: none;
  }

  #open .navbar-name{
    display: none;
  }

  .navbar-name{
    width: 100%;
  }
}

  
