.publication {
    display: flex;
    flex-direction: column;
    gap: 15%;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    margin-top: 8rem;
}

.publication__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title {
    font-size: 4rem;
    margin-top: 0.5rem;
}
  
/* PUBLICATION ITEM */
.publication-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.publication-item {
    border-radius: 0.5rem;
    box-sizing: border-box;
    margin: 1rem;
    padding: 1rem;
    border: 0.2rem solid var(--color-lightgrey);
}

.publication-author {
    font-size: 1.3rem;
    color: var(--color-darkgrey);
}

.publication-location {
    font-size: 1.2rem;
    color: rgb(24, 116, 228);
    margin-bottom: 1rem;
}

.publication-title {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.7rem;
    color: var(--color-blue);
}

.publication-title:hover {
    text-decoration: underline ;
}
  
.publication-description {
    font-size: 1.05rem;
    color: var(--color-blue);
}
