.talks {
    display: flex;
    flex-direction: column;
    gap: 15%;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    margin-top: 6rem;
}

.talks__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-1 {
    font-size: 2.3rem;
}

/* TALK ITEM */
.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

.button {
    background-color: var(--color-white);
    color: var(--color-blue);
    font-size: 1rem;
    font-weight: 700;
}

.button:hover {
    cursor: pointer;
}

/* .button.clicked {
    text-decoration: underline;
} */

/* TALK ITEM */
.talk-list {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    flex-direction: column;
    gap: 1.5rem;
}

.talk-item:hover {
    box-shadow: 0 0 10px var(--color-lightgrey);
}

.talk-item {
    border-radius: 0.5rem;
    box-sizing: border-box;
    margin: 1rem;
    padding: 1rem;
    border: 0.15rem solid var(--color-lightgrey);
    display: flex;
    flex-direction: row;
}

.talk-details {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
}

.talk-img {
    flex: 1.1;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.talk-img img {
    width: 100%;
    margin-right: 1rem;
    object-fit: contain;
    transition: all .3s ease-in-out;
}

.talk-img:hover img {
    transform: scale(1.1);
}

.talk-location {
    font-size: 1.1rem;
    color: rgb(24, 116, 228);
}

.talk-title {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.7rem;
    color: var(--color-blue);
}
  
.talk-description {
    font-size: 0.9rem;
    color: var(--color-blue);
}


/** ================== SMALLER SCREENS ===========================**/

@media screen and (max-width: 1000px) {
    .talk-list {
        grid-template-columns: 1fr;
    }
}
