@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  
:root {
    --color-white: white;
    --color-blue: #0b1b43;
    --color-lightgrey: rgb(235, 235, 235);
    --color-darkgrey:  rgb(111, 110, 110);

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;

    --transition: all 400ms ease;
}


html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-white);
    color: var(--color-blue);
    line-height: 1.7;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
    padding-top: 3rem;
}



/* .btn {
    width: max-content;
    display: inline-block;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-white);
    transition: var(--transition);
} */

/* .btn:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
    border-color: transparent;
} */


/** ================== SMALLER SCREENS ===========================**/

@media screen and (max-width: 1600px) {
    .container {
        width: var(--container-width-md);
    }
    section {
        margin-top: 6rem;
    }  
}

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }
    section {
        margin-top: 2rem;
    }
}